<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Test</title>
</head>

<body>
	<p>전화번호 등록해주세요 </p>
<form action="/register" method = "post">
	id : <input type = "text" name = "id" /> <br /><br />
	이름 : <input type="text" name="name" /> <br /><br />
	Phone : <input type="text" name="phone1" size="3">-
	<input type="text" name="phone2" size="4">-
	<input type="text" name="phone3" size="4">
	<br/><br/>
	<input type="submit" value = "확인">
	<input type="reset" value = "다시">
</form>

</body>
</html>