<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>스포츠 토토</title>
</head>

<body>
	<p> 토토해서 부자 되세요 {{ name }} 님! </p>
<form action="/my_info" method = "">
	<input type="submit" value = "나의 정보 보기">
</form>
<form action="/team_info" method = "">
	<input type="submit" value = "팀 정보 보기">
</form>
<form action="/show_matches" method = "">
	<input type="submit" value = "경기 보기">
</form>
<form action="/update_bet" method = "">
	<input type="submit" value = "경기 결과 업데이트 하러 가기">
</form>
<form action="/logout" method = "">
	<input type="submit" value = "로그아웃 하러 가기">
</form>
</body>
</html>